[submodule "customer_supplier"]
	path = customer_supplier
	url = git@github.com:viernes/customer_supplier.git
[submodule "doble_approval"]
	path = doble_approval
	url = git@github.com:viernes/doble_approval.git

[submodule "JayVora-SerpentCS/MassEditing"]
	path = JayVora-SerpentCS/MassEditing
	url = git@github.com:JayVora-SerpentCS/MassEditing.git
	branch = 12.0
[submodule "purchase_tripple"]
	path = purchase_tripple
	url = git@github.com:viernes/purchase_tripple.git
[submodule "odoo_hr_expense_approval"]
	path = odoo_hr_expense_approval
	url = git@github.com:viernes/odoo_hr_expense_approval.git
